@model IEnumerable<WebProje.Models.Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var kategoriAdlari = ViewBag.KategoriAdlari as Dictionary<int, string>;
}
<br />
<a href="/Urun/Ekle/" class="btn btn-info">Yeni Ürün</a>
<br/><br/>
<table id="tbl1" class="table table-bordered">
    <thead>
    <tr>
        <th>GUID ID</th>
        <th>GÖRSEL</th>
        <th>ÜRÜN</th>
        <th>AÇIKLAMA</th>
        <th>FİYAT</th>
        <th>KATEGORİ</th>
        <th>GÖRSEL URL</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    </thead>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.Id</td>
            <td>
                <img src="@u.ImageUrl" style="max-width: 200px; max-height: 200px" class="menu-item-image" alt=""/>
            </td>
            <td>@u.Name</td>
            <td>@u.Description</td>
            <td>@u.Price</td>
            <td>@kategoriAdlari?[u.KategoriId]</td>
            <td style="max-width: 200px; word-wrap: break-word; overflow-wrap: break-word;">@u.ImageUrl</td>
            @* <td>@u.SatisFiyat</td> *@
            @* <td>@u.Kategori.KategoriAd</td> *@
            @* <td>@u.UrunGorsel</td> *@
            <td>
                <a href="/Urun/UrunSil/@u.Id" class="btn btn-danger">Sil</a>
            </td>
            <td>
                <a href="/Urun/UrunGetir/@u.Id" class="btn btn-success">Güncelle</a>
            </td>

        </tr>
    }
</table>


<link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
@* <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css"> *@
@* <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
@* <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script> *@

<script>

    $('#tbl1').dataTable({
        language: { url: 'https://cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json' }
    });

</script>
