@model WebProje.Models.Register
@{
    ViewBag.Title = "Yeni Admin";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Admin Sayfası</h2>
<br />
<form class="form-group" method="post">
    <br/>
    @Html.Label("Ad")
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Adınız", required = "required" })
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    <br/>
    @Html.Label("Soyad")
    @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", placeholder = "Soyadınız", required = "required" })
    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
    <br/>
    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Kullanıcı Adınız", required = "required" })
    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    <br/>
    @Html.Label("Mail")
    @Html.TextBoxFor(model => model.Mail, new { @class = "form-control", placeholder = "Email Adresiniz", type = "email", required = "required", pattern = "[^@@]+@@[^@@]+\\.[a-zA-Z]{2,6}" })
    @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
    <br/>
    @Html.Label("Şifre")
    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Şifreniz", required = "required" })
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    <br/>
    <button class="btn btn-primary">Kayıt Ol</button>
</form>
